@import '../../styles/styles-vars.scss';

.form-container{
  margin: 20px 0;

  .lang-message{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .form{
    display: flex;
    justify-content: center;
    gap: 5px;

    .input-todo{
      width: 30vw;
      height: 30px;

      &:focus{
        outline: none;
      }
    }

    .input-btn{
      @include input-btn();
    }

    .invalid{
      background: $requiredColor;
      &:hover{
        background: $requiredColorHover;
      }
    }
  }
}